.container{
    width: 100%;
    height: 700px;
    border: 1px solid black;
    
}
.hwSquareBox{
    width:200px;
    height:200px;
    border:1px solid black;
    position: relative;
    animation: myMove 10s infinite;
    animation-direction: alternate;
    box-shadow: 5px 10px;
    border-radius: 10px;
    

}
.hsbBottom{
    width: 100px;
   height: 10px;
   margin:50px 0;
   animation: hsbMove 10s infinite;
}

@keyframes myMove {
    0% {top:100px; left: 550px;}
    50% {top:350px; left:550px;}
    100% {top:100px; left:550px;}

}
@keyframes hsbMove{
    0%{line-height: 30px; top:100px; left: 550px;}
    55%{top:350px; left: 550px;}
    60%{line-height: 10px;}
    100%{line-height: 30px; top:100px; left: 550px;}
}